# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
.vscode/
# Executables
*.exe
*.out
*.app
loader_torch_init_step
# cache and compillation files
/CMakeFiles/
/Testing/
cmake_install.cmake
CMakeCache.txt
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
# cuda compillation gen
detect_cuda_compute_capabilities.cu
detect_cuda_version.cc
# library dependency

/libtorch/
cmake_install.cmake
CMakeCache.txt
CTestTestfile.cmake
DartConfiguration.tcl
detect_cuda_compute_capabilities.cu
detect_cuda_version.cc
/CMakeFiles/
Makefile
#  binary file
loader_torch_init_step  